/* Layout */

body {
  margin: 4em auto;
  width: 580px;
}

#header,
#footer,
#main {
  margin: 3em auto;
}


/* Color */

html {
  padding: 0 20px;
  background: #eee;
}


/* Typography */

body {
  font: 12px/1.25 monospace;
}

h2, h3 {
  font-size: 1em;
}


/* Header */

#header,
#footer {
  text-align: center;
}


/* Events */

table {
  margin-bottom: 2em;
  width: 100%;

  border-spacing: 0;
  border-collapse: separate;
}

td {
  border-top: 1px solid #ccc;
  padding: 6px 0;
  vertical-align: top;
}

td:first-child {
  border-right: 1px solid #ccc;
  padding-right: 10px;
  width: 80px;

  text-align: right;
}

td:last-child {
  padding-left: 10px;
  text-align: left;
}

td > *:first-child { margin-top: 0; }
td > *:last-child { margin-bottom: 0; }

tr:first-child td {
  border-top: 0;
}

.month { margin: 20px 0; }
.month h3 { margin-top: 0; }
.month table { margin-bottom: 0; }

.month {
  padding: 20px;
  text-align: center;
  background: white;
}

.month h3 {
  display: inline-block;
  border-bottom: 1px solid black;

  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.old p { opacity: 0.35; }
.old a { color: black; }

.today {
  background: lightyellow;
}


/* Responsive */

@media (max-width: 620px) {
  body {
    width: auto;
  }
}
