<!doctype html>
<html>
<head>
  <title>London Game Diary</title>

  <meta name="description" content="Upcoming London game events, exhibitions meetups and more.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="css/style.css">

  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.min.js"></script>
  <![endif]-->
</head>
<body>
  <header role="banner" id="header">
    <h1 id="title">
      <img src="img/logo.png"
           width="280"
           height="23"
           alt="London Game Diary">
    </h1>

    <p>Upcoming London game events, exhibitions, meetups and more.</p>
    <p>
      <a href="http://www.twitter.com/londongamediary">@londongamediary</a>
    </p>
  </header>

  <section role="main" id="main">
    {{ content }}
  </section>

  <footer role="contentinfo" id="footer">
    <p><a href="mailto:hello@londongamediary.com">Running an event?</a></p>
    <p>
      Made by <a href="https://twitter.com/tomcopeland">Tom</a> and
      <a href="http://www.thomasmarshall.com">Tom</a>
    </p>
  </footer>

  <script src="//code.jquery.com/jquery-1.11.1.js"></script>
  <script src="js/script.js"></script>

  {% include analytics.html %}
</body>
</html>
